.header {
    background-color: black;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin: 0px;
    /* border-style: solid;
    border-color: black; */
    width: 100%;
    position: relative;
}

.logo-box {
    height: 120px;
    aspect-ratio: 2;
    padding: 0px;
    margin: 0px;
    color: white;
    font-size: 20px;
    justify-content: center;
    text-align: center;
}